.block-flatmenu {
  width: 645px;
}
.block-flatmenu .block-title {
  margin: 0;
}
.block-flatmenu .block-title h3 {
  font-size: 100%;
  margin: 0 0 10px;
}
#left .block-flatmenu .content {
  margin: 0 15px;
}
.block-flatmenu .item-list ul,
.block-flatmenu .item-list li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.block-flatmenu .flatmenu-parent {
  height: 17px;
  font-weight: bold;
  float: left;
  margin: 0 0 0 -24px;
  padding: 1px 5px 0 24px;
}
.block-flatmenu .flatmenu-tree > li,
.block-flatmenu .flatmenu-tree .col ul > li {
  display: block;
  overflow: auto;
  padding: .4em 0 .2em 25px;
  border-top: 1px dotted #BEB4B4;
}
.block-flatmenu .flatmenu-tree > li.last,
.block-flatmenu .flatmenu-tree .col ul > li.last,
.block-flatmenu .flatmenu-tree .col ul > li:last-child {
  border-bottom: 1px dotted #BEB4B4;
}
.block-flatmenu .flatmenu-childs {
  line-height: 1.4;
  padding: .1em 0 .2em 0;
}
.block-flatmenu .flatmenu-childs li {
  height: 17px;
  padding: 0 .4em 0 .1em;
  border-right: 1px solid #288CB4;
}
.block-flatmenu .flatmenu-childs li.last {
  padding-right: 0;
  border-right: 0;
}
/* Display the menu on two cols when only first level terms are available */
.block-flatmenu .flatmenu-tree li.col {
  width: 300px;
  float: left;
  padding: 0;
  border: 0;
}
.block-flatmenu .flatmenu-tree li.col.left {
  margin-right: 15px;
}
.block-flatmenu .flatmenu-tree .col .flatmenu-parent {
  float: none;
  padding-bottom: 1px;
}
